<div class="col-12">
  <h1>На чём основан тест:</h1>
  <p>
    Основа теста — наиболее популярные запросы тренирующихся:
    <ul> 
       <li>поиск нового хобби;</li>  
       <li>работа с тревогой и стрессом;</li>
       <li>изменение внешнего вида;</li>
       <li>коррекция  осанки и оздоровительные тренировки.</li>
      </ul>
        Для каждого запроса есть ряд уточняющих вопросов, а результат теста основан на научных данных и ваших предпочтениях.
  </p>
  <input type="button"id="buttonStartTest" class="btn btn-outline-success" value="Пройти тест" />
</div>
