<div class="col-12">
  <div id="start_test">
  <h1 class="text-center mb-4">Пройдите тест и узнайте, какие тренировки вам подходят</h1>

    <h3 class="content mb-4">Тест основан на наиболее популярных запросах тренирующихся:  </h3>
    <ul class="content">
      <li>поиск нового хобби;</li>
      <li>работа с тревогой и стрессом;</li>
      <li>изменение внешнего вида;</li>
      <li>коррекция осанки и оздоровительные тренировки.</li>
    </ul>
    <p>
    Для каждого запроса есть ряд уточняющих вопросов, а результат теста основан на научных данных и ваших предпочтениях.
  </p>
  <div class="d-flex justify-content-center middle">
  <input type="button" id="buttonStartTest" class="" value="Пройти тест" />
</div>
</div>
</div>