<div class="container mb-5">
<div class="content row d-flex flex-column align-items-center" id="articles_figure">
  
  
  <div class="article_figure mb-2 mt-2 col-12 col-md-8">
    <div class="article-heading">
      <h2 class="article_title">Уместно ли говорить о норме веса?</h2>
    </div>
    <div class="articles__content content">
      <div class="articles__summary">
        <p>
          Для начала: вес нашего тела — это совокупность веса костей, мышц, жира и
          жидкостей. То есть на суммарный показатель влияет количество каждой
          составляющей.
        </p>

        <div class="block-article">
          <p class="block-article__line">
            Вес костей в теле человека — пара килограмм с небольшой разницей в
            зависимости от индивидуальных особенностей. Кости могут становиться
            менее плотными и более хрупкими в результате недостатка кальция
            (например, с возрастом у людей развивается остеопороз — заболевание, при
            котором кости становятся хрупкими). И наоборот, кости могут стать
            плотнее в результате регулярных тренировок с отягощением.
          </p>
        </div>

        <button class="articles__toggler read_more" type="button" aria-live="polite" data-collapsed="">Читать далее---></button>

        <div class="block-article__inner article__text_hidden">
          <p>
            Вес мышц в теле человека зависит от нагрузки и восстановления после
            нагрузок. Для роста мышечной ткани необходимы регулярные силовые
            тренировки с постепенным увеличением нагрузки — тогда мышцам нужно будет
            постоянно расти, чтобы справляться с ней. Но рост мышечной ткани
            происходит не во время самой тренировки, а в период восстановления. Чем
            качественнее восстановление, тем лучше рост. Поэтому важно, достаточно
            ли мы потребляем калорий, микро- и макро-нутриентов, хорошо ли спим. В
            случае дефицита ресурсов первое, от чего тело избавляется — это не
            имеющая критической ценности мышечная ткань, потому что она требует
            очень много энергии на ее поддержание.
          </p>
          <p>
            У жира в нашем теле много функций, каждая из них коррелирует с его
            количеством. Например, жир — это наше энергетическое депо, тело
            "сжигает" его, когда ему требуется энергия.
          </p>
          <p>
            Но, если энергии хронически не хватает, например мы недосыпаем,
            перерабатываем, живем в хроническом стрессе, тело будет стремиться
            добыть энергию. А мы — переедать.
          </p>
          <p>На переедания влияют и другие факторы:</p>
          <ol>
            <li>Неполноценное питание;</li>
            <li>Культурные и воспитательные особенности;</li>
            <li>Недостаток источников дофамина.</li>
          </ol>
          <p>А также различные травы, стигматизации, компенсации и так далее.</p>
          <p>
            На количество жидкости в организме могут влиять пищевые привычки и
            различные заболевания, например сахарный диабет, заболевания почек и
            гормональные нарушения.
          </p>
          <p>
            То есть вес вашего тела — это совокупность переменных, зависящих от
            других переменных. Поэтому ваш вес и есть норма в вашей жизненной
            ситуации. Важнее не то, сколько вы весите, а то, ПОЧЕМУ вы столько
            весите и устраивают ли вас эти причины, а не цифра на весах.
          </p>
        </div>
      </div>
    </div>
  </div>


<div class="article_figure mb-2 mt-2 col-12 col-md-8">
    <div class="article-heading">
      <h2 class="article_title">Женщине сложнее накачать мышцы, чем мужчине?</h2>
    </div>
    <div class="articles__content content">
      <div class="articles__summary">
        <p>Нет. <br>
          Рост мышц — это результат взаимодействия половых гормонов, факторов роста
          и генетики. Принято считать, что мужчинам проще накачать мышцы из-за
          тестостерона, ведь у женщин его в 15 раз меньше.
        </p>
        <div class="block-article">
          <p class="block-article__line">
            Тестостерон действительно влияет на рост мышц, но по результатам
            исследований этот тезис актуален только в рамках одного человека.
          </p>
        </div>

        <button class="articles__toggler read_more" type="button" aria-live="polite" data-collapsed="">Читать
          далее---></button>

        <div class="block-article__inner article__text_hidden">
          <p> Чем больше конкретно у вас тестостерона, тем лучше растут ваши мышцы. Но в процентном соотношении мужчины
            и женщины наращивают массу одинаково. Разница в дефолтном стартовом весе: у мужчин он обычно больше.
            [<a href="https://journals.physiology.org/doi/full/10.1152/japplphysiol.00170.2012">1</a>]
            [<a href="https://pubmed.ncbi.nlm.nih.gov/118890579/">2</a>]
            [<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2991130/">3</a>]
          </p>
          <p> По некоторым данным, при одинаковом стартовом весе женщины могут синтезировать даже больше белка, чем
            мужчины. [ <a
              href="https://faseb.onlinelibrary.wiley.com/doi/10.1096/fj.08-117200?ijkey=61cab85d37cad7f234aaaa9d66139b71d586b8f0&keytype2=tf_ipsecsha">4</a>]
          </p>
          <p> Есть психо-социальные причины изобилия накачанных мужчин и скромного количества мускулистых женщин.
          </p>
          <p> Например, давление стереотипов. В одном довольно известном эксперименте атлеты получали плацебо под видом
            стероидов и смогли колоссально увеличить свои силовые показатели. [<a
              href="https://www.researchgate.net/publication/232171854_Anabolic_steroids_The_physiological_effects_of_placebos">5<a>]
                Теперь представьте, что происходит с женщиной, которой всю жизнь говорят, что она «по природе слабее».
          </p>
          <p>Так что, если вы всегда хотели иметь развитую мускулатуру — особых преград нет. Разнообразное полноценное
            питание и регулярные силовые тренировки вам в помощь.</p>
        </div>
      </div>
    </div>
</div>


<div class="article_figure mb-2 mt-2 col-12 col-md-8">
    <div class="article-heading">
      <h2 class="article_title">Как растут и разрушаются мышцы?</h2>
    </div>

    <div class="articles__content content">
      <div class="articles__summary">
        <p>
          Рост мышц — это результат адаптации к регулярной прогрессирующей нагрузке.
          Ваше тело просто пытается справляться с той работой, которую вы на него возлагаете. Чтобы нагрузка была прогрессирующей, должен расти средний тоннаж
          тренировки. Он является произведением рабочего веса на количество
          подходов и на количество повторений в подходе.
        </p>

        <div class="block-article">
          <p class="block-article__line"> Если вы делаете 3 подхода
            по 10 повторений с отягощением в 10 кг, средний тоннаж будет 300 кг. Чтобы рос тоннаж, нужно увеличивать хотя бы одну из этих составляющих.
            При чем выгоднее всего увеличивать вес отягощения. В наших мышцах есть 2 типа волокон. 1 тип — медленные волокна, которые
            сложно гипертрофировать или утомить, и они изначально тоньше, чем
            вторые. Они нужны для большинства повседневных действий, вроде ходьбы
            или подъема пакетов с продуктами.
          </p>
        </div>

        <button class="articles__toggler read_more" type="button" aria-live="polite" data-collapsed="">Читать
          далее---></button>

          <div class="block-article__inner article__text_hidden">
            <p>
              2 тип — быстрые волокна. Они генерируют максимальную силу, легко
              утомляются и растут, и они толще первых. Второй тип волокон нужен для
              ответа на возрастающую нагрузку, при этом чем ближе вы к состоянию
              «отказа», тем больше таких волокон включается в работу.
            </p>
            <p>
              Тренировки и аминокислоты активируют mTOR полипептид, который запускает
              синтез белка. Его максимальная активация происходит при выполнении 5
              повторений с максимальным задействованием мышечных волокон. Это, кстати, объясняет, почему мышечная сила может не соответствовать
              объему мускулатуры [
              <a href="
        https://pubmed.ncbi.nlm.nih.gov/28463902/">1</a>].
            </p>
          
            <p>
              Чисто технически, можно выполнить и 50 повторений, чтобы дойти до
              «отказа». Тогда только 5 последних высокоэффективными.  Но есть высокая вероятность, что с таким количеством повторений вы
              просто не дойдете до нужной точки.
            </p>
            <p>
              Силовые тренировки являются анаэробным процессом, для осуществления
              которого тратится гликоген. У анаэробного гликолиза есть побочные
              продукты: накопление лактата и ионов водорода. Они приводят к изменению
              кислотности крови и вызывают ацидоз (жжение от нагрузки), но ацидоз не
              значит, что вы дошли до «отказа». При этом перепутать в процессе
              довольно легко.               Высокое количество повторений также приводит к переутомлению ЦНС и трате большого количества энергии. То
              есть вы можете устать раньше, чем повторения станут эффективными.
            </p>
            <p> Оптимальной тренировкой для роста мышц будет выполнение 3-6 подходов по 6-12 повторений с интервалами
              отдыха около 60 секунд и нагрузкой в 60-80% от вашего одноповторного максимума. При этом объем тренировки
              должен плавно увеличиваться (12-28 подходов на мышцу в неделю) [<a
                href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6950543/">2</a>].
            </p>
            <p> Гипертрофия наступает не сразу. Исследования показывают, что визуальный эффект на начальных этапах в
              основном связан с отеком клеток, вызванным повреждением мышц [<a
                href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6950543/">2</a>].
            </p>
            <p> Для реальных заметных результатов придется потрудиться не менее 6-10 недель [<a
                href="https://pubmed.ncbi.nlm.nih.gov/29282529/">3</a>].</p>
            <p> Зато регулярные тренировки на протяжении длительного времени позволяют вам брать бОльший перерыв без
              значительных потерь. Уже через год регулярных занятий 2-3 раза в неделю вы не регрессируете до начального
              уровня, даже бросив занятия. При этом мышцы сохранят уровень адаптации к стрессовым факторам, то есть
              останутся в режиме "ожидания тренировки" в течение 2-3 недель от начала перерыва [<a
                href="https://journals.biologists.com/jeb/article/219/2/235/33480/Muscle-memory-and-a-new-cellular-model-for-muscle">4</a>].
            </p>
            <p>Но мышцы начнут уменьшаться. Например, у профессиональных пауэрлифтеров и бодибилдеров площадь
              поперечного
              сечения мышечных волокон уменьшается на 6,4% уже через 14 дней покоя. Но эти волокна "приходят в форму"
              быстрее, чем ранее нетренированные [<a href="https://pubmed.ncbi.nlm.nih.gov/8371654/">5</a>].
            </p>
            <p> Для непрофессиональных силовых атлетов заметная разница возникает уже через 3 недели покоя [<a
                href="https://journals.lww.com/acsm-msse/Fulltext/2001/08000/Muscular_characteristics_of_detraining_in_humans.9.aspx">6</a>].
              Чего не скажешь о любителях аэробных нагрузок [<a
                href="https://journals.lww.com/acsm-msse/Abstract/1987/10000/Effect_of_reduced_training_on_muscular_strength.11.aspx">7</a>].
            </p>
            <p> Но в длительной перспективе регулярные тренировки дают свои плоды. Так, например, гребцы, покинувшие
              большой спорт, за 4 года без тренировок потеряли всего 14-16% волокон [<a
                href="https://pubmed.ncbi.nlm.nih.gov/2932641/">8</a>]. Даже, если вы новичок, небольшой перерыв не
              скажется на ваших силовых показателях [<a href="https://pubmed.ncbi.nlm.nih.gov/21771261/">9</a>], но
              скажется на объеме мышц [<a
                href="https://journals.lww.com/acsm-msse/Fulltext/2001/03000/Cardiorespiratory_and_metabolic_characteristics_of.13.aspx">10</a>].
            </p>
            <p> Адаптация к тренировкам сохраняется более 85 дней с начала перерыва [<a
                href="https://pubmed.ncbi.nlm.nih.gov/3902770/">11</a>]. За 2-3 недели без тренировок снизится
              плотность капилляров, через 3-8 недель уменьшится артериально-венозная разница в кислороде, а силовые
              показатели будут с вами около 4 недель [<a href="https://pubmed.ncbi.nlm.nih.gov/11474330/">12</a>].
            </p>
          </div>
    </div>
  </div>
</div>



<div class="article_figure mb-2 mt-2 col-12 col-md-8">
      <div class="article-heading">
        <h2 class="article_title">Что полезного в силовых тренировках, кроме мышечной гипертрофии?</h2>
      </div>

      <div class="articles__content content">
        <div class="articles__summary">
            <p> 1-3 силовые тренировки в неделю могут снижать риск развития заболеваний сердечно-сосудистой системы на
              40-70% вне зависимости от аэробной
              <a href="https://journals.lww.com/acsm-msse/Fulltext/2019/03000/Associations_of_Resistance_Exercise_with.14.aspx">нагрузки.</a>
            </p>

            <div class="block-article">
              <p class="block-article__line"> Анаэробные нагрузки наравне с аэробными могут снижать риск развития
                сахарного диабета 2
                <a href=" https://journals.plos.org/plosmedicine/article?id=10.1371%2Fjournal.pmed.1001587">типа</a>
              </p>
              <p> Силовые тренировки <a href="https://pubmed.ncbi.nlm.nih.gov/9927006/">укрепляют </a><a
                  href="https://pubmed.ncbi.nlm.nih.gov/19453205/">кости.</a>
              </p>
            </div>

              <button class="articles__toggler read_more" type="button" aria-live="polite" data-collapsed="">Читать
                далее---></button>

              <div class="block-article__inner article__text_hidden">
                <p>
                  Более высокие силовые показатели связаны с лучшей
                  <a
                    href="https://academic.oup.com/schizophreniabulletin/article/44/4/728/4942313?login=false">памятью</a>и
                  лучшими когнитивными способностями в старшем
                  <a href="https://pubmed.ncbi.nlm.nih.gov/25787083/">возрасте</a>.
                </p>
                <p>
                  Силовые тренировки снижают атрофию белого вещества, уменьшают объем его поражения, вызывают
                  функциональные изменения мозга (преимущественно лобных долей) и улучшают исполнительные <a
                    href="https://eurapa.biomedcentral.com/articles/10.1186/s11556-019-0217-2">функции</a>.
                </p>
                <p>
                  Тренировки со свободными отягощениями лучше подходят для улучшения когнитивных способностей, чем
                  занятия в <a href="https://www.nature.com/articles/s41598-020-59105-0">тренажерах</a>. Для заметного
                  результата пожилым людям достаточно 10 недель регулярных нагрузок.
                </p>
              </div>
        </div>
</div>

</div>



<div class="article_figure mb-2 mt-2 col-12 col-md-8">
        <div class="article-heading">
          <h2 class="article_title">Как копится и тратится жир?</h2>
        </div>
        <div class="articles__content content">
          <div class="articles__summary">
            <p>
              Жир в теле человека — это клетки адипоциты, внутри которых находятся жировые капли. Можно сравнить их с
              маленькими резервуарами, например
              пакетом для льда с ячейками. У взрослого человека количество адипоцитов <a
                href="https://pubmed.ncbi.nlm.nih.gov/18454136/">неизменно</a>.
              Увеличение жировой прослойки происходит, в основном, за счет увеличения количества жира в каждом отдельном
              адипоците. То есть в пакете со льдом не
              становится больше ячеек, но в каждой имеющейся ячейке становится больше жидкости.
            </p>
            <div class="block-article">
              <p class="block-article__line">
                <p>Адипоциты бывают белыми и бурыми, у них разные функции.</p>
                <p>
                  Белые адипоциты могут накапливать жир, который потом используется для получения энергии и
                  продуцирования ряда гормонов.
                </p>
                <p>Бурые адипоциты осуществляют термогенез.</p>
                <p>
                  Накопленные жиры тратятся под воздействием глюкагона и адреналина, в меньшей степени соматотропина и
                  кортизола. Жир тратится в ситуации
                  дефицита энергии, когда вы потребляете меньше, чем тратите. Тогда резервуары отдают свое содержимое.
                </p>
              </div>
                <button class="articles__toggler read_more" type="button" aria-live="polite" data-collapsed="">Читать
                  далее---></button>

                <div class="block-article__inner article__text_hidden">
                  <p>
                    Массаж, например, для таких целей не подходит: на нем вы не проявляете активность и собственную
                    энергию не тратите, поэтому объем теряется за счет тканевой жидкости, а не жира.
                  </p>
                  <p>
                    Адипоциты можно удалять — это называется липосакцией. Однако функции удаленных адипоцитов просто
                    возьмут на себя оставшиеся. То есть, если вы уберете жир на животе, но продолжите потреблять больше
                    «энергии», чем тратите, жир продолжит откладываться в других местах — там, где «резервуары» под него
                    остались. Иногда места эти самые неожиданные, например спина или <a
                      href="https://www.nytimes.com/2011/05/01/weekinreview/01kolata.html?ref=health">плечи</a>.
                  </p>
                  <p>В общем, волшебных таблеток нет.</p>
                </div>
            </div>
          </div>
</div>
</div>
</div>
