<div class="articles_figure">
  <div>
    <h1>Уместно ли говорить о норме веса?</h1>
    <p>
      Для начала: вес нашего тела — это совокупность веса костей, мышц, жира и
      жидкостей. То есть на суммарный показатель влияет количество каждой
      составляющей.
    </p>
    <p>
      Вес костей в теле человека — пара килограмм с небольшой разницей в
      зависимости от индивидуальных особенностей. Кости могут становиться менее
      плотными и более хрупкими в результате недостатка кальция (например, с
      возрастом у людей развивается остеопороз — заболевание, при котором кости
      становятся хрупкими). И наоборот, кости могут стать плотнее в результате
      регулярных тренировок с отягощением.
    </p>
    <p>
      Вес мышц в теле человека зависит от нагрузки и восстановления после
      нагрузок. Для роста мышечной ткани необходимы регулярные силовые
      тренировки с постепенным увеличением нагрузки — тогда мышцам нужно будет
      постоянно расти, чтобы справляться с ней. Но рост мышечной ткани
      происходит не во время самой тренировки, а в период восстановления. Чем
      качественнее восстановление, тем лучше рост. Поэтому важно, достаточно ли
      мы потребляем калорий, микро- и макро-нутриентов, хорошо ли спим. В случае
      дефицита ресурсов первое, от чего тело избавляется — это не имеющая
      критической ценности мышечная ткань, потому что она требует очень много
      энергии на ее поддержание.
    </p>
    <p>
      У жира в нашем теле много функций, каждая из них коррелирует с его
      количеством. Например, жир — это наше энергетическое депо, тело "сжигает"
      его, когда ему требуется энергия.
    </p>
    <p>
      Но, если энергии хронически не хватает, например мы недосыпаем,
      перерабатываем, живем в хроническом стрессе, тело будет стремиться добыть
      энергию. А мы — переедать.
    </p>
    <p>На переедания влияют и другие факторы:</p>
    <ol>
      <li>Неполноценное питание;</li>
      <li>Культурные и воспитательные особенности;</li>
      <li>Недостаток источников дофамина.</li>
    </ol>
    <p>А также различные травы, стигматизации, компенсации и так далее.</p>
    <p>
      На количество жидкости в организме могут влиять пищевые привычки и
      различные заболевания, например сахарный диабет, заболевания почек и
      гормональные нарушения.
    </p>
    <p>
      То есть вес вашего тела — это совокупность переменных, зависящих от других
      переменных. Поэтому ваш вес и есть норма в вашей жизненной ситуации.
      Важнее не то, сколько вы весите, а то, ПОЧЕМУ вы столько весите и
      устраивают ли вас эти причины, а не цифра на весах.
    </p>
  </div>

  <div>
    <h2>Женщине сложнее накачать мышцы, чем мужчине?</h2>
    <p>Нет.</p>
    <p>
      Рост мышц — это результат взаимодействия половых гормонов, факторов роста
      и генетики. Принято считать, что мужчинам проще накачать мышцы из-за
      тестостерона, ведь у женщин его в 15 раз меньше.
    </p>
    <p>
      Тестостерон действительно влияет на рост мышц, но по результатам
      исследований этот тезис актуален только в рамках одного человека.
    </p>
    <p>
      Чем больше конкретно у вас тестостерона, тем лучше растут ваши мышцы. Но в
      процентном соотношении мужчины и женщины наращивают массу одинаково.
      Разница в дефолтном стартовом весе: у мужчин он обычно больше.
      <a
        href="
    https://journals.physiology.org/doi/full/10.1152/japplphysiol.00170.2012"
      >
        [1]
      </a>
      <a
        href="
      https://pubmed.ncbi.nlm.nih.gov/118890579/"
        >[2]</a
      >
      <a
        href="
      https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2991130/"
        >[3]</a
      >
    </p>
    <p>
      По некоторым данным, при одинаковом стартовом весе женщины могут
      синтезировать даже больше белка, чем мужчины.
      <a
        href="
    https://faseb.onlinelibrary.wiley.com/doi/10.1096/fj.08-117200?ijkey=61cab85d37cad7f234aaaa9d66139b71d586b8f0&keytype2=tf_ipsecsha"
      >
        [4]
      </a>
    </p>
    <p>
      Есть психо-социальные причины изобилия накачанных мужчин и скромного
      количества мускулистых женщин.
    </p>
    <p>
      Например, давление стереотипов. В одном довольно известном эксперименте
      атлеты получали плацебо под видом стероидов и смогли колоссально увеличить
      свои силовые показатели.
      <a
        href="
      https://www.researchgate.net/publication/232171854_Anabolic_steroids_The_physiological_effects_of_placebos"
        >[5]</a
      >
      Теперь представьте, что происходит с женщиной, которой всю жизнь говорят,
      что она «по природе слабее».
    </p>
    <p>
      Так что, если вы всегда хотели иметь развитую мускулатуру — особых преград
      нет. Разнообразное полноценное питание и регулярные силовые тренировки вам
      в помощь.
    </p>
  </div>

  <div>
    <h2>Как растут и разрушаются мышцы?</h2>
    <p>
      Рост мышц — это результат адаптации к регулярной прогрессирующей нагрузке.
      Ваше тело просто пытается справляться с той работой, которую вы на него
      возлагаете.
    </p>
    <p>
      Чтобы нагрузка была прогрессирующей, должен расти средний тоннаж
      тренировки. Он является произведением рабочего веса на количество подходов
      и на количество повторений в подходе. Если вы делаете 3 подхода по 10
      повторений с отягощением в 10 кг, средний тоннаж будет 300 кг.
    </p>
    <p>
      Чтобы рос тоннаж, нужно увеличивать хотя бы одну из этих составляющих. При
      чем выгоднее всего увеличивать вес отягощения.
    </p>
    <p>
      В наших мышцах есть 2 типа волокон. 1 тип — медленные волокна, которые
      сложно гипертрофировать или утомить, и они изначально тоньше, чем вторые.
      Они нужны для большинства повседневных действий, вроде ходьбы или подъема
      пакетов с продуктами.
    </p>
    <p>
      2 тип — быстрые волокна. Они генерируют максимальную силу, легко
      утомляются и растут, и они толще первых. Второй тип волокон нужен для
      ответа на возрастающую нагрузку, при этом чем ближе вы к состоянию
      «отказа», тем больше таких волокон включается в работу.
    </p>
    <p>
      Тренировки и аминокислоты активируют mTOR полипептид, который запускает
      синтез белка. Его максимальная активация происходит при выполнении 5
      повторений с максимальным задействованием мышечных волокон.
    </p>
    <p>
      Это, кстати, объясняет, почему мышечная сила может не соответствовать
      объему мускулатуры
      <a
        href="
      https://pubmed.ncbi.nlm.nih.gov/28463902/"
        >[1]</a
      >.
    </p>
    <p>
      Чисто технически, можно выполнить и 50 повторений, чтобы дойти до
      «отказа». Тогда только 5 последних высокоэффективными.
    </p>
    <p>
      Но есть высокая вероятность, что с таким количеством повторений вы просто
      не дойдете до нужной точки.
    </p>
    <p>
      Силовые тренировки являются анаэробным процессом, для осуществления
      которого тратится гликоген. У анаэробного гликолиза есть побочные
      продукты: накопление лактата и ионов водорода. Они приводят к изменению
      кислотности крови и вызывают ацидоз (жжение от нагрузки), но ацидоз не
      значит, что вы дошли до «отказа». При этом перепутать в процессе довольно
      легко.
    </p>
    <p>
      Высокое количество повторений также приводит к переутомлению ЦНС и трате
      большого количества энергии. То есть вы можете устать раньше, чем
      повторения станут эффективными.
    </p>
    <p>
      Оптимальной тренировкой для роста мышц будет выполнение 3-6 подходов по
      6-12 повторений с интервалами отдыха около 60 секунд и нагрузкой в 60-80%
      от вашего одноповторного максимума. При этом объем тренировки должен
      плавно увеличиваться (12-28 подходов на мышцу в неделю)
      <a
        href="
    https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6950543/"
      >
        [2].</a
      >
    </p>
    <p>
      Гипертрофия наступает не сразу. Исследования показывают, что визуальный
      эффект на начальных этапах в основном связан с отеком клеток, вызванным
      повреждением мышц
      <a
        href="
  https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6950543/"
      >
        [2].</a
      >.
    </p>
    <p>
      Для реальных заметных результатов придется потрудиться не менее 6-10
      недель
      <a
        href="
      https://pubmed.ncbi.nlm.nih.gov/29282529/"
      >
        [3].</a
      >.
    </p>
    <p>
      Зато регулярные тренировки на протяжении длительного времени позволяют вам
      брать бОльший перерыв без значительных потерь. Уже через год регулярных
      занятий 2-3 раза в неделю вы не регрессируете до начального уровня, даже
      бросив занятия. При этом мышцы сохранят уровень адаптации к стрессовым
      факторам, то есть останутся в режиме "ожидания тренировки" в течение 2-3
      недель от начала перерыва
      <a
        href="
      https://journals.biologists.com/jeb/article/219/2/235/33480/Muscle-memory-and-a-new-cellular-model-for-muscle"
      >
        [4].</a
      >
    </p>
    <p>
      Но мышцы начнут уменьшаться. Например, у профессиональных пауэрлифтеров и
      бодибилдеров площадь поперечного сечения мышечных волокон уменьшается на
      6,4% уже через 14 дней покоя. Но эти волокна "приходят в форму" быстрее,
      чем ранее нетренированные
      <a
        href="
      https://pubmed.ncbi.nlm.nih.gov/8371654/"
      >
        [5].</a
      >.
    </p>
    <p>
      Для непрофессиональных силовых атлетов заметная разница возникает уже
      через 3 недели покоя
      <a
        href="
      https://journals.lww.com/acsm-msse/Fulltext/2001/08000/Muscular_characteristics_of_detraining_in_humans.9.aspx"
      >
        [6].</a
      >
      Чего не скажешь о любителях аэробных нагрузок
      <a
        href="
      https://journals.lww.com/acsm-msse/Abstract/1987/10000/Effect_of_reduced_training_on_muscular_strength.11.aspx
      "
      >
        [7].</a
      >
    </p>
    <p>
      Но в длительной перспективе регулярные тренировки дают свои плоды. Так,
      например, гребцы, покинувшие большой спорт, за 4 года без тренировок
      потеряли всего 14-16% волокон
      <a
        href="
      https://pubmed.ncbi.nlm.nih.gov/2932641/
    "
      >
        [8].</a
      >
      Даже, если вы новичок, небольшой перерыв не скажется на ваших силовых
      показателях
      <a
        href="
      https://pubmed.ncbi.nlm.nih.gov/21771261/
  "
      >
        [9]</a
      >, но скажется на объеме мышц
      <a
        href="
      https://journals.lww.com/acsm-msse/Fulltext/2001/03000/Cardiorespiratory_and_metabolic_characteristics_of.13.aspx
"
      >
        [10]</a
      >.
    </p>
    <p>
      Адаптация к тренировкам сохраняется более 85 дней с начала перерыва
      <a
        href="
      https://pubmed.ncbi.nlm.nih.gov/3902770/
"
      >
        [11]</a
      >. За 2-3 недели без тренировок снизится плотность капилляров, через 3-8
      недель уменьшится артериально-венозная разница в кислороде, а силовые
      показатели будут с вами около 4 недель
      <a
        href="
      https://pubmed.ncbi.nlm.nih.gov/11474330/
"
      >
        [12]</a
      >.
    </p>
  </div>

  <div>
    <h2>Что полезного в силовых тренировках, кроме мышечной гипертрофии?</h2>
    <ul>
      <li>
        1-3 силовые тренировки в неделю могут снижать риск развития заболеваний
        сердечно-сосудистой системы на 40-70% вне зависимости от аэробной
        <a
          href="https://journals.lww.com/acsm-msse/Fulltext/2019/03000/Associations_of_Resistance_Exercise_with.14.aspx"
        >
          нагрузки.</a
        >
      </li>

      <li>
        Анаэробные нагрузки наравне с аэробными могут снижать риск развития
        сахарного диабета 2
        <a
          href=" https://journals.plos.org/plosmedicine/article?id=10.1371%2Fjournal.pmed.1001587"
          >типа
        </a>
      </li>
      <li>
        Силовые тренировки
        <a href="https://pubmed.ncbi.nlm.nih.gov/9927006/">укрепляют</a
        ><a href="https://pubmed.ncbi.nlm.nih.gov/19453205/">кости.</a>
      </li>
      <li>
        Более высокие силовые показатели связаны с лучшей
        <a
          href="https://academic.oup.com/schizophreniabulletin/article/44/4/728/4942313?login=false"
          >памятью</a
        >
        и лучшими когнитивными способностями в старшем
        <a href="https://pubmed.ncbi.nlm.nih.gov/25787083/">возрасте</a>.
      </li>
      <li>
        Силовые тренировки снижают атрофию белого вещества, уменьшают объем его
        поражения, вызывают функциональные изменения мозга (преимущественно
        лобных долей) и улучшают исполнительные
        <a
          href="https://eurapa.biomedcentral.com/articles/10.1186/s11556-019-0217-2"
          >функции</a
        >.
      </li>
      <li>
        Тренировки со свободными отягощениями лучше подходят для улучшения
        когнитивных способностей, чем занятия в
        <a href="https://www.nature.com/articles/s41598-020-59105-0"
          >тренажерах</a
        >. Для заметного результата пожилым людям достаточно 10 недель
        регулярных нагрузок.
      </li>
    </ul>
  </div>

  <div>
    <h2>Как копится и тратится жир?</h2>
    <p>
      Жир в теле человека — это клетки адипоциты, внутри которых находятся
      жировые капли. Можно сравнить их с маленькими резервуарами, например
      пакетом для льда с ячейками. У взрослого человека количество адипоцитов
      <a href="https://pubmed.ncbi.nlm.nih.gov/18454136/">неизменно</a
      >.Увеличение жировой прослойки происходит, в основном, за счет увеличения
      количества жира в каждом отдельном адипоците. То есть в пакете со льдом не
      становится больше ячеек, но в каждой имеющейся ячейке становится больше
      жидкости.
    </p>
    <p>Адипоциты бывают белыми и бурыми, у них разные функции.</p>
    <p>
      Белые адипоциты могут накапливать жир, который потом используется для
      получения энергии и продуцирования ряда гормонов.
    </p>
    <p>Бурые адипоциты осуществляют термогенез.</p>
    <p>
      Накопленные жиры тратятся под воздействием глюкагона и адреналина, в
      меньшей степени соматотропина и кортизола. Жир тратится в ситуации
      дефицита энергии, когда вы потребляете меньше, чем тратите. Тогда
      резервуары отдают свое содержимое.
    </p>
    <p>
      Массаж, например, для таких целей не подходит: на нем вы не проявляете
      активность и собственную энергию не тратите, поэтому объем теряется за
      счет тканевой жидкости, а не жира.
    </p>
    <p>
      Адипоциты можно удалять — это называется липосакцией. Однако функции
      удаленных адипоцитов просто возьмут на себя оставшиеся. То есть, если вы
      уберете жир на животе, но продолжите потреблять больше «энергии», чем
      тратите, жир продолжит откладываться в других местах — там, где
      «резервуары» под него остались. Иногда места эти самые неожиданные,
      например спина или
      <a
        href="https://www.nytimes.com/2011/05/01/weekinreview/01kolata.html?ref=health
    "
        >плечи</a
      >.
    </p>
    <p>В общем, волшебных таблеток нет.</p>
  </div>
</div>

<div class="articles_mental_health">
  <div>
    <h2>Как справиться со стрессом?</h2>
    <p>
      Когда-то давно одной из главных проблем человека было выживание в опасных
      ситуациях. Например, в случае нападения дикого животного.
    </p>
    <p>
      Когда нападает дикое животное, есть три варианта реакции. С ним можно
      сразиться — если есть шанс победить. Можно убежать. А еще можно замереть и
      как бы «отключиться» от тела.
    </p>
    <p>
      Наше тело реагирует гораздо быстрее нашего разума. Стоит нам заметить
      подозрительный шорох в кустах, как в кровь вбрасываются адреналин и
      кортизол. Первый учащает сердцебиение, активизирует запасы энергии и
      готовит наше тело к активным действиям. Второй помогает нам быть
      внимательнее и быстрее реагировать на изменяющиеся условия.
    </p>
    <p>
      Тигр в кустах — это стрессор, причина стресса. Наше тело дает на него
      реакцию. Она завершится, как только мы сделаем что-то, чтобы опасность
      миновала. Побежим со всех ног, поборем дикое животное или переживем
      нападение, отрешившись от телесных ощущений.
    </p>
    <p>
      Мир шагнул далеко вперед и нам больше не угрожают тигры в кустах (пр
      крайней мере, не всем). А вот механизмы остались прежние.
    </p>
    <p>
      И наше тело просто не знает разницы между тиграми, дедлайнами на работе и
      сомнительными знакомствами. Оно предчувствует опасность и готовится
      реагировать.
    </p>
    <p>
      Но наш разум здраво оценивает ситуацию и понимает, что дедлайн нельзя
      избить и от него невозможно убежать — по крайней мере, ногами. Поэтому мы
      бездействуем.
    </p>
    <p>
      Стресс накапливается, гормональный баланс нарушается. Постепенно
      поднимается средний уровень кортизола — мы становимся раздражительными,
      нервными, пугливыми. Кортизол влияет на качество сна, мы перестаем
      высыпаться. Вечно уставшие, нервные, пытаемся заглушить кортизол
      дофамином. Быстрее всего его можно получить, поедая сахар, просматривая
      ролики в интернете или поощряя себя иными доступными средствами.
    </p>
    <p>
      Проблем было бы гораздо меньше, заверши мы вовремя цикл стресс-реакции. А
      для этого нужно сделать 2 шага:
    </p>
    <ol>
      <li>
        Совершить действие. Активное. Можно танцевать, тренироваться с
        отягощениями, бегать. По сути, выполнять то, ради чего выбрасывается
        адреналин.
      </li>
      <li>
        После активных действий вернуться в "безопасное место". Например,
        пообщаться с приятными вам близкими людьми, принять горячую ванну с
        парой капель эфирного масла, выполнить дыхательные упражнения. Сделать
        то, что лично у вас создает ощущениебезопасности.
      </li>
    </ol>
    <p>И все, цикл стресс-реакции завершится.</p>
  </div>

  <div>
    <h2>Как тренировки влияют на наше эмоциональное состояние?</h2>
    <p>
      Регулярные тренировки могут повысить нашу уверенность в себе, снизить
      уровень стресса и тревоги, сделать нас менее раздражительными, более
      открытыми и смелыми.
    </p>
    <p>А теперь подробнее.</p>
    <p>
      Когда мы переживаем стресс, выбрасываются гормоны адреналин и кортизол.
      Первый учащает сердцебиение, активирует запасы энергии, подготавливая
      мышцы к нагрузке бей-или-беги. Второй повышает скорость реакций, чтобы
      опасность не могла застать нас врасплох.
    </p>
    <p>
      Но в нашей жизни часто нет места завершению стресс-реакции. Мы слишком
      заняты работой, делами, а наши переживания кажутся нам несущественными.
    </p>
    <p>
      В итоге напряжение накапливается и мы пытаемся его снизить легкодоступным
      дофамином, например едим сладости в больших количествах, увлекаемся
      онлайн-шоппингом или тонем в ленте соцсетей.
    </p>
    <p>
      Повышенный уровень кортизола ухудшает качество сна. В итоге мы уставшие,
      нервные, постоянно прячущиеся за экраном смартфона, чувствуем, как жизнь
      пролетает мимо.
    </p>
    <p>
      В условиях регулярных тренировок мы получаем возможность заканчивать
      стресс-реакции, давая мышцам как следует поработать. Это снижает уровень
      кортизола и помогает восстановить баланс дегидроэпиандростерона (ДГЭА) —
      гормона, который «поддерживает жизненный тонус». Его нехватка может
      ускорять старение, поэтому, в каком-то смысле, регулярные тренировки могут
      продлить нам жизнь.
    </p>
    <p>
      Если мы тренируемся с наставником, который нам симпатичен, то во время
      занятия вырабатывается окситоцин. Благодаря этому повышается наша
      уверенность в себе, ведь мы чувствуем себя сопричастными, понятыми и
      принятыми.
    </p>
    <p>
      Вместе с ним вырабатывается серотонин — конечно, если чувство юмора
      тренера совпадает с нашим и мы много улыбаемся и смеемся во время занятия.
      Этот гормон дарит нам ощущение счастья.
    </p>
    <p>
      Если в конце тренировки нас ждет вознаграждение, например похвала или
      вроде того, мы получаем свою дозу дофамина — гормона "удовольствия",
      который помогает нам сохранять мотивацию к занятиям.
    </p>
    <p>
      А если в контексте тренировки мы добавляем упражнения с отягощением или
      сопротивлением, то получаем дополнительную порцию тестостерона,
      повышающего нашу уверенность в себе.
    </p>
    <p>
      После тренировки вырабатывается ацетилхолин — он замедляет пульс и
      дыхание, дарит нам ощущение внутреннего равновесия.
    </p>
  </div>

  <div>
    <h2>Почему «Быстрее, выше, сильнее» не работает?</h2>
    <p>
      Среди всех видов спорта на выносливость, триатлон кажется мне наиболее
      впечатляющим. Представьте: в течение многих часов люди сначала плывут,
      потом едут на велосипеде, потом бегут – и все это без значительных
      перерывов.
    </p>
    <p>
      При этом существует много разных схем, по которым тренируются триатлеты.
      Среди них любопытны два подхода. Первый – это критическое повышение
      планки. Ну то есть из года в год, от соревнования к соревнованию
      подготовка становится все жестче. Растет темп, увеличиваются ежедневные
      расстояния для бега или езды на велосипеде. Человек старается выжать
      максимум из себя на тренировках, в надежде увеличить свой потенциал
    </p>
    <p>
      Такая система вызывала вопросы еще в 90-х, потому что у нее существовал
      эффективный антагонист. Это стабильная работа на минимальный результат. То
      есть на каждой тренировке атлет делает только необходимый минимум.
    </p>
    <p>
      И вы удивитесь, но многократные обладатели чемпионских титулов тренируются
      именно так.
    </p>
    <p>
      Дело в том, что политика «сделать максимум» приводит только к накоплению
      переутомления. Больше уставая на тренировках, человек начинает иначе
      относиться к своим же средним показателям. Например, чтобы развить обычную
      скорость на велосипеде, ему, по собственным ощущениям, нужно приложить
      больше усилий. Но при этом «предел возможностей» зрительно сдвинут и при
      большем дискомфорте он потенциально может развить скорость больше своей
      максимальной на предыдущей тренировке.
    </p>
    <p>
      Обычно «быстрее, выше, сильнее» является проявлением неадекватного
      перфекционизма. Это стремление к идеалу, основанное на обесценивании своих
      трудов и самобичевании. То есть мотивация в стиле «ты слишком медленная /
      ый, ты проиграешь, нужно быть еще быстрее».
    </p>
    <p>
      Стабильные же тренировки "на минимум" приводят к реальному увеличению
      потенциала. То есть регулярно выполняя работу "не на износ" мы укрепляем
      мышцы, нервную и сосудистую системы, а главное психику — именно она
      отвечает за результат. Ведь мышцы не знают, что они не умеют отжиматься.
    </p>
    <p>
      Любую тренировку нужно выстраивать по собственным ощущениям, а не по
      рекомендациям извне. Если вы хотите достичь результата, вам не нужно
      ориентироваться на тех, кто "берет максимум" и играть в догонялки. Вам
      нужно работать в своем темпе и следить только за собственным прогрессом,
      не отвлекаясь от истинной цели.
    </p>
    <p>
      Простыми словами: делая что-то, помните, что завтра вам тоже придется это
      сделать. Вы можете оставить немного сил "на потом", или выжать максимум
      сегодня, завтра, послезавтра и получить "отказ" от своих тела и психики.
      Потому что им ваши амбиции не интересны — они не хотят умереть от
      переутомления.
    </p>
  </div>

  <div>
    <h2>Депрессия и фитнес: совместимы ли?</h2>
    <p>
      Физическая активность действительно ослабляет симптомы депрессии [<a
        href=" https://pubmed.ncbi.nlm.nih.gov/27131503/"
        >1,</a
      ><a href=" https://pubmed.ncbi.nlm.nih.gov/16394971/">2,</a
      ><a
        href="https://bmcpublichealth.biomedcentral.com/articles/10.1186/1471-2458-9-204"
        >3,</a
      ><a href="https://core.ac.uk/download/pdf/144881146.pdf">4,</a
      ><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2683669/">5,</a
      ><a href="https://pubmed.ncbi.nlm.nih.gov/25693775/">6</a>].
    </p>
  </div>
  <div></div>
  <div></div>
</div>
