<div class="container">
  <div class="row about__content justify-content-center">
    <div class="about__greet align-self-center col-12 col-md-6">
      <div>
        <p class="content">
          <span id="my__name">Меня зовут Никитина Юлия,</span> я веду
          научно-популярный блог о теле и тренировках. Мои публикации помогают
          людям понять, как легко сделать их жизнь более активной.
        </p>
        <p class="content">
          Я рассказываю о том, как тренировки влияют на ментальное и физическое
          здоровье, действительно ли можно похудеть в спортзале и разоблачаю
          мифы о теле и фитнесе.
        </p>
      </div>
    </div>

    <div class="about__image align-self-center col-12 col-md-5">
      <div class="about__image__wrapper">
        <img src="../../photo/main.jpg" alt="portrait" />
      </div>
    </div>
  </div>
</div>
