<div class="row d-flex flex-column justify-content-end ">
    <div class="col-12 col-md-5 mt-5 offset-md-7 about__greet" >
        <p> <span class="text_highlited"> Меня зовут Никитина Юлия, я веду научно-популярный блог о теле и тренировках. Мои публикации помогают людям понять, как легко сделать их жизнь более активной.</span></p>
    </div>

    <div class="col-12 col-md-5 offset-md-8 about__doing" >
        <p>Я рассказываю о том, как тренировки влияют на ментальное и физическое здоровье, действительно ли можно похудеть в спортзале и разоблачаю мифы о теле и фитнесе.</p>
    </div>

    <div class="col-12 col-md-5 offset-md-8 about__test">
        <p>Хотите понять, какие тренировки вам подойдут? Пройдите простой <a href="#" id="openTestBlock">тест</a> </p>
    </div>
</div>