
    <div class="col-md-6 col-12">
        <p>Меня зовут Никитина Юлия, я веду научно-популярный блог о теле и тренировках. Мои публикации помогают людям понять, как легко сделать их жизнь более активной.</p>
        <p>Я рассказываю о том, как тренировки влияют на ментальное и физическое здоровье, действительно ли можно похудеть в спортзале и разоблачаю мифы о теле и фитнесе.
        </p>
        <p>Хотите понять, какие тренировки вам подойдут? Пройдите простой <a>тест</a> </p>
    </div>
    
