<div class="container">
  <div class="navbar navbar-expand-lg d-flex justify-content-between">
    <a href="/" class="align-items-center text-decoration-none">
      <span class="nav__name fs-4">Юлия Никитина</span>
    </a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
      <img    src="../../image/menu.png"
        style="width: 40px; height: 40px"
      />
    </button>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item mr-2">
          <a class="nav-link" href="#about">Обо мне</a>
        </li>
        <li class="nav-item mr-2">
          <a class="nav-link" href="#test_start">Пройти тест</a>
        </li>
        <li class="nav-item">
          <a class="nav-link open-popup" href="#">Дипломы</a>
        </li>
        <a class="telegram-link" target="_blank" href="https://t.me/kotikdakotik"><img
            src="../../image/telegram1.png" /></a>
      </ul>
    </div>
  </div>
</div>