<div class="nav__contacts col">
    <a class="telegram-link" target="_blank" href="https://t.me/kotikdakotik"><img src="../../image/free-icon-telegram-906377.png"></a>
</div>

<div class="nav__name text-center col">Юлия <br> Никитина</div>

<nav class="navbar navbar-expand-lg col">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#about">Обо мне</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#test_start">Пройти тест</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active open-popup" href="#">Дипломы</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
