<div class="container test__block_choise mt-4">
  <h2 class="text-center mb-3">Какую задачу вы хотите решить тренировками?</h2>
  <div class="row d-flex justify-content-around">
    <div class="text-center my-3 d-flex align-items-stretch col-12 col-md-5">
      <button class="test_block_button w-100" id="button__hobby">
        Ищу новое хобби
      </button>
    </div>

    <div class="text-center my-3 d-flex align-items-stretch col-12 col-md-5">
      <button class="test_block_button w-100" id="button__stress">
        Хочу научиться справляться со стрессом
      </button>
    </div>

    <div class="text-center my-3 d-flex align-items-stretch col-12 col-md-5">
      <button class="test_block_button w-100" id="button__look">
        Хочу изменить свою внешность
      </button>
    </div>

    <div class="text-center d-flex align-items-stretch my-3 col-12 col-md-5">
      <button class="test_block_button w-100" id="button__medicine">
        Есть медицинские показания к тренировкам
      </button>
    </div>
  </div>
</div>
