<div>
    <h2>Какую задачу вы хотите решить тренировками?</h2>
    <div class="test__block_choise row">
        <div class="col-6 text-center my-3"> <button id="button__hobby">Ищу новое хобби</button></div>

        <div class="col-6 text-center my-3"><button id="button__stress">Хочу научиться справляться со стрессом</button>
        </div>
        <div class="col-6 text-center  my-3"><button id="button__look">Хочу изменить свою внешность</button></div>
        <div class="col-6 text-center my-3"><button id="button__medicine">Есть медицинские показания к
                тренировкам</button></div>
    </div>
</div>