<div class="container test__block_choise mt-4">
  <h2 class="text-center mb-3">Какую задачу вы хотите решить тренировками?</h2>
  <div class="row d-flex justify-content-around">
    <div
      class="text-center my-3 d-flex align-items-stretch col-12 col-md-5 frame_button"
    >
      <button class="test_block_button custom-btn w-100" id="button__hobby">
        <span> Ищу новое хобби</span>
      </button>
    </div>

    <div class="text-center my-3 d-flex align-items-stretch col-12 col-md-5">
      <button class="test_block_button custom-btn w-100" id="button__stress">
        <span> Хочу научиться справляться со стрессом</span>
      </button>
    </div>

    <div class="text-center my-3 d-flex align-items-stretch col-12 col-md-5">
      <button class="test_block_button custom-btn w-100" id="button__look">
        <span> Хочу изменить свою внешность</span>
      </button>
    </div>

    <div class="text-center d-flex align-items-stretch my-3 col-12 col-md-5">
      <button class="test_block_button custom-btn w-100" id="button__medicine">
        <span> Есть медицинские показания к тренировкам</span>
      </button>
    </div>
  </div>
</div>
