<div class="col-sm-6">
  <div class="card">
    <div class="card-body articleItems">
      <h5 class="card-title">Тренировки и ментальное здоровье</h5>
      <a href="#" id="mentalArticles"
        ><img src="../../photo/IMG_9656.JPG" style="width: 40%"
      /></a>
    </div>
  </div>
</div>
<div class="col-sm-6">
  <div class="card">
    <div class="card-body articleItems">
      <h5 class="card-title">Фигура и спорт</h5>
      <a href="#" id="figureArticles"
        ><img src="../../photo/main.jpg" style="width: 40%"
      /></a>
    </div>
  </div>
</div>
