<div class="col-sm-6">
  <div class="card">
    <div class="card-body articleItems">
      <h5 class="card-title">Особое обращение с заголовком</h5>
      <a href="#" id="mentalArticles"
        ><img src="../../photo/IMG_9656.JPG" style="width: 40%"
      /></a>
    </div>
  </div>
</div>
<div class="col-sm-6">
  <div class="card">
    <div class="card-body articleItems">
      <h5 class="card-title">Особое обращение с заголовком</h5>
      <a href="#" id="figureArticles"
        ><img src="../../photo/IMG_9600.JPG" style="width: 40%"
      /></a>
    </div>
  </div>
</div>
