<div>
    <div class="quiz__head">
        <div class="head__content" id="quiz__head">Question</div>
    </div>
    <div class="quiz__body">
        <div class="buttons">
            <div class="buttons__content" id="quiz__buttons">
                <button class="button"> answer</button><br>
                <button class="button"> answer</button><br>
                <button class="button"> answer</button><br>
                <button class="button"> answer</button><br>

            </div>
        </div>
        <div class="quiz__footer">
            <div class="footer__content" id="quiz__pages">0 / 0</div>
        </div>
    </div>