<div id="quiz" class="row justify-content-around">
  <div class="quiz__head col-12 mb-4" id="question">Вопрос</div>
  <div class="col-md-4 col-12">
    <input
      type="button"
      class="quiz__button"
      id="question-left"
      value="Нет"
      class="quiz__button"
    />
  </div>

  <div class="col-md-4 col-12">
    <input
      type="button"
      class="quiz__button"
      id="question-right"
      value="Да"
      class="quiz__button"
    />
  </div>

  <div class="result__back">
    <div id="result" class="col-12"></div>
  </div>
</div>
