<div class="col-12">
  <p>
    Медицинские показания — это всегда про индивидуальный подход. Универсального
    теста здесь быть не может. Но вы можете записаться на консультацию, чтобы
    уточнить, как вам следует тренироваться.
  </p>
  <iframe
    src="https://docs.google.com/forms/d/e/1FAIpQLSfy2PyFvmvxbrB8ahZoLJOWaUFZXfJ6cEAKG8i5jPMJ5Q4HOg/viewform?embedded=true"
    width="640"
    height="769"
    frameborder="0"
    marginheight="0"
    marginwidth="0"
    >Загрузка…</iframe
  >
</div>
