
    <div class="sliderContainer">
        <div class="mySlides">
            <img src="../../image/materials/trainers_guide/run_trainers_pages-to-jpg-0001.jpg">
        </div>
        <div class="mySlides">
            <img src="../../image/materials/trainers_guide/run_trainers_pages-to-jpg-0002.jpg">
        </div>
        <div class="mySlides">
            <img src="../../image/materials/trainers_guide/run_trainers_pages-to-jpg-0003.jpg">
        </div>
        <div class="mySlides">
            <img src="../../image/materials/trainers_guide/run_trainers_pages-to-jpg-0004.jpg">
        </div>

        <!-- Вперед и назад кнопки -->
        <button id="prev">&#10094;</button>
        <button id="next">&#10095;</button>
    </div>
