<div class="sliderContainer">
        <div class="mySlides">
            <img src="../../image/sert/IMG_8355.PNG">
        </div>
        <div class="mySlides">
            <img src="../../image/sert/IMG_8356.PNG">
        </div>
        <div class="mySlides">
            <img src="../../image/sert/IMG_8357.PNG">
        </div>
        <div class="mySlides">
            <img src="../../image/sert/IMG_8358.PNG">
        </div>
        <div class="mySlides">
            <img src="../../image/sert/IMG_8359.PNG">
        </div>
        <div class="mySlides">
            <img src="../../image/sert/IMG_8360.PNG">
        </div>
        <div class="mySlides">
            <img src="../../image/sert/IMG_8361.PNG">
        </div>
        <div class="mySlides">
            <img src="../../image/sert/IMG_8362.PNG">
        </div>
        <div class="mySlides">
            <img src="../../image/sert/IMG_8363.PNG">
        </div>
        <div class="mySlides">
            <img src="../../image/sert/IMG_8364.PNG">
        </div>
        <div class="mySlides">
            <img src="../../image/sert/IMG_8365.PNG">
        </div>
        <div class="mySlides">
            <img src="../../image/sert/IMG_8366.PNG">
        </div>
        <div class="mySlides">
            <img src="../../image/sert/IMG_8367.PNG">
        </div>
        <div class="mySlides">
            <img src="../../image/sert/IMG_8368.PNG">
        </div>
        <div class="mySlides">
            <img src="../../image/sert/IMG_8369.PNG">
        </div>
        <!-- Вперед и назад кнопки -->
        <button id="prev">&#10094;</button>
        <button id="next">&#10095;</button>
    </div>
