<div class="intro__content row mb-2">
  <div class="intro__content__imageWrap col-12 col-lg-6 gx-0">
    <img src="../../photo/IMG_9600copy.jpg" alt="portrait" />
  </div>

  <div
    class="intro__content__wrapper col-12 col-lg-4 d-flex flex-column justify-content-around"
  >
    <div class="intro__content__text">
      <p class="text_highlited">Узнай больше о своем теле и тренировках</p>
    </div>

    <div class="intro__content__test content offset-md-2 mb-3">
      <p>
        Хотите понять, какие тренировки вам подойдут? <br />
        Пройдите простой
        <a href="#start_test" id="openTestBlock"
          >тест
          <img src="../../image/arrow.png" style="width: 30px" />
        </a>
      </p>
    </div>
  </div>
</div>
