<div class="introContent row mb-5">
  <div class="introContent__imageWrap col-12 col-md-7 gx-0">
    <img src="../../photo/IMG_9655copy.jpg" alt="" />
  </div>

  <div class="introContent__wrapper col-12 col-md-4">
    <div class="introContent__text mb-5">
      <p class="text_highlited">Узнай больше о своем теле и тренировках</p>
    </div>

    <div class="about__test content offset-md-3 col-12 col-md-6">
      <p>
        Хотите понять, какие тренировки вам подойдут? Пройдите простой
        <a href="#" id="openTestBlock">тест</a>
      </p>
    </div>
  </div>
</div>
