<div class="footer-content row content">
    <div class="col-12 nav__name text-center">
        Юлия<br>Никитина
    </div>
        <ul class="col-md-4">
            <li class="footer-item">
                <a class="footer-link" href="#about">Обо мне</a>
            </li>
            <li class="footer-item">
                <a class="footer-link" href="#test_start">Пройти тест</a>
            </li>
            <li class="footer-item">
                <a class="footer-link open-popup" href="#">Дипломы</a>
            </li>
        </ul>
        <div class="row d-flex flex-row justify-content-between">
            <a class="footer-link col" id="openPrivacy" href="#pdf__block">Политика конфиденциальности</a>
            <a class="telegram-link col text-end" id="contacts" target="_blank" href="https://t.me/kotikdakotik"><img src="../../image/free-icon-telegram-906377.png"></a>
        </div>
</div>
