@import "~bootstrap/scss/bootstrap";

*,
*:before,
*:after {
    box-sizing: border-box;
}

// накидала варианты, что может быть будем использовать, по ходу будем править 

$font-main: serif; // заменим, как подключим шрифты
$font-other: 'Roboto'; // заменим, как подключим шрифты
$back-color-pink: rgba(255, 230, 226, 1);
$back-color-header: rgba(48, 48, 48, 1);
$akcent-color: rgba(240, 156, 150, 1);
$title-color: #fff;
$title-size: 2.8rem;
$subtitle-size: 2rem;
$menu-size: 0.9rem;


#division__line {
    height: 7vh;
    background-color: $akcent-color;
    margin: 0;
}

.introContent__imageWrap {
    width: 50vw;
    img {
        max-width: 100%;
        margin: 0;
    }
}

.introContent {
    background:  rgba(48, 48, 48, 0.1);
    background-size: 56%;
    span {
        display: inline;
        background-color: rgba(240, 156, 150);
        box-shadow: -10px 0 0 rgba(240, 156, 150), 10px 0 0 rgba(240, 156, 150);
        padding: 0 10px 0 0;
        color: #FFFFFF;
        font-size: 35px;
        z-index: 1;
    }
}

#about {
    font-size: 1.2rem;
    // height: 110vh;
    // background: url(./photo/IMG_9600copy.jpg) no-repeat left;
    // background-size: 56%;
}

.about__greet {
    margin-bottom: 5%;
    line-height: 1.5;
    background:  rgba(48, 48, 48, 0.1);
}


#navigation {
    padding-top: 1%;
    padding-bottom: 1%;
    img {
        border: 0;
    }
    .nav__name {
        font-size: 24px;
    }
}

#quiz__wrapper {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;

    .quiz__head {
        font-size: 20pt;
        margin: 10px;
        margin-bottom: 50px;
        background-color: $back-color-pink;
    }

    #head__content {
        padding: 3%;
    }

    .quiz__body {
        margin: 10px;
    }

    .quiz__advise {
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
    }

    .quiz__advise__content {
        padding: 5px;
    }
}

.buttons__content button {
    border: 0;
    border-radius: 10px;
    background: #023A15;
    color: #fff;
    padding: 10px 25px;
    width: 70%;
    font-size: 15pt;
    display: block;
    margin: 2px auto;
    cursor: pointer;
}

#test__block {
    background: rgba(255, 230, 226, 1);
    padding: 2% 4%;
}

.test__block_choise button {
    border: 0;
    border-radius: 10px;
    background: rgba(79, 82, 97, 1);
    color: white;
    padding: 2% 3%;
}

// slider
/* Расположите контейнер изображения (необходимо расположить стрелки влево и вправо) */
.popup__back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0; // Скрываем фон и сам попап
    pointer-events: none; // Запрещаем ему быть целью событий
    transition: 0.5s all;
}

.popup__back.active {
    // При добавлении класса 'active'
    opacity: 1; // Показываем фон и попап
    pointer-events: all; // Возвращаем события
    transition: 0.5s all;
    background-color: rgba(255, 230, 226, 0.459);
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); // Центрируем и масштабируем в 0 само окно
    width: 33%;
    padding: 25px;
    transition: 0.5s all;

    embed {
        width: 100vw;
        height: 100vh;
        left: -40vw;
        overflow: hidden;
        margin: 0;
    }
}

.popup.active {
    transform: translate(-50%, -50%) scale(1); // Так же центрируем и плавно увеличиваем
    transition: 0.5s all;
}

.close-popup {
    position: absolute;
    top: 5%;
    right: 10%;
    cursor: pointer;
    width: 2%;
}

/* Далее код для стилизации  */
/* Скрыть изображения по умолчанию */
.mySlides {
    display: none;
    width: 100%;
    height: 100%;
}

.sliderContainer div:first-child {
    display: block;
}

.popup__back div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Вперед и предыдущие кнопки */
#prev,
#next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding-top: 1%;
    padding-right: 3%;
    padding-left: 3%;
    padding-bottom: 1%;
    border-radius: 20px;
    border: none;
}

/* Позиция "next кнопка" на право */
#next {
    right: -15%;
}

#prev {
    left: -15%;
}

/* При наведении курсора добавьте черный цвет фона с небольшим количеством прозрачного */
#prev:hover,
#next:hover {
    background-color: $akcent-color;
}

#footer {
    background-color: $back-color-header;
    .footer-content {
        padding: 5%;
    }
    ul {
        list-style-type: none;
    }
    a {
        text-decoration: none;
        img {
            width: 12%;
        }
    }
}

.telegram-link {
    text-decoration: none;
}

.nav__contacts {
    img {
        width: 9%;
        color: $akcent-color;
    }
    a {
        padding: 0;
        margin: 0;
    }
}

.card {
    position: inherit;
}